{% extends "layout.html" %}

{% block body_content %}

<form action="" method="post" action="projects:edit_project">
    {% csrf_token %}
    <div class="circle--actions--bar">
        <div class="bounds">
            <div class="grid-100">
                <input type="submit" class="button button-primary" value="Save Project"/>
                <a class="button button-text" href="{% url 'projects:all' %}">Discard</a>
            </div>
        </div>
    </div>

    <div class="bounds circle--page circle--article">

        <div class="grid-70">
            <div class="circle--article--body">
                {{ form.title }}
                {{ form.description }}
            </div>

            <div class="circle--project--positions">
                <h2>Positions</h2>

                <ul id="position_forms" class="circle--group--list circle--clone--list">
                    {{ positions.management_form }}
                    {% for pos_form in positions.forms %}
                    {% for hidden in pos_form.hidden_fields %}
                       {{ hidden }}
                    {% endfor %}
                    <li class="position_forms">
                        {% if pos_form.instance.pk %}{{ pos_form.DELETE }}{% endif %}
                        {{ pos_form.position_title }}
                        {{ pos_form.skill }}
                        {{ pos_form.description }}
                    </li>
                    {% endfor %}
                </ul>
                <input type="submit" class="button button-primary" value="Save Project"/>

            </div>
        </div>

        <div class="grid-25 grid-push-5">

            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                {{ form.time_line_description }}
            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                {{ form.applicant_req }}
            </div>

        </div>
    </div>
</form>

<script>
    $('.position_forms').formset({
        addText: 'Add Position',
        deleteText: 'Remove',
        addCssClass: 'circle--clone--add',
        deleteCssClass: 'circle--clone--remove',
        prefix: '{{ positions.prefix }}'
    });
</script>

{% endblock %}